body {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-color:#4169E1;
    font-family: 'Formula Condensed';
  }

  h1{
    color: white;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 550px;
    text-align: center;
    margin: 0 auto;
  }

  h2{
      color: #57C898;
      font-size: 47px;
      margin: 0 auto;
      padding:20px;
  }

  h3{
      color: black;
      font-size: 35px;
      margin: 0 auto;
  }

  .white {
      font-size: 47px;
      color: white;
      text-transform: uppercase;
  }
